In [1]:
import pandas as pd
df = pd.read_csv('CarFuelandEmissions.csv')

## Dictionary

In [16]:
dictionary = {}
dictionary["Jumlah_Record"] = df.shape
dictionary["Nama_Atribut"] = list(df.columns)
dictionary["Atribut_Objek"] = list(df.select_dtypes(object))
dictionary["Atribut_Angkah"] = list(df.select_dtypes(['float64']).columns)
dictionary["Atribut_Null"] = list(df.loc[:, df.isnull().any()].columns)

## jumlah record

In [3]:
print(f"Jumlah Record: {df.shape}")

Jumlah Record: (2048, 31)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2048 entries, 0 to 2047
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   file                    2048 non-null   object
 1   year                    1813 non-null   float64
 2   manufacturer            1813 non-null   object
 3   model                   1813 non-null   object
 4   description             1813 non-null   object
 5   euro_standard           1813 non-null   float64
 6   tax_band                0 non-null      float64
 7   transmission            1813 non-null   object
 8   transmission_type       1813 non-null   object
 9   engine_capacity         1813 non-null   float64
 10  fuel_type               1813 non-null   object
 11  urban_metric            1813 non-null   float64
 12  extra_urban_metric      1813 non-null   float64
 13  combined_metric         1813 non-null   float64
 14  urban_imperial          1813 non-null   float64
 15  extra_urban_imperial    1813 non-null   float64
 16  combined_imperial       1813 non-null   float64
 17  noise_level             1813 non-null   float64
 18  co2                     1813 non-null   float64
 19  thc_emissions           564 non-null    float64
 20  co_emissions            1801 non-null   float64
 21  nox_emissions           700 non-null    float64
 22  thc_nox_emissions       0 non-null      float64
 23  particulates_emissions  375 non-null    float64
 24  fuel_cost_12000_miles   0 non-null      float64
 25  fuel_cost_6000_miles    1813 non-null   float64
 26  standard_12_months      0 non-null      float64
 27  standard_6_months       0 non-null      float64
 28  first_year_12_months    0 non-null      float64
 29  first_year_6_months     0 non-null      float64
 30  date_of_change          0 non-null      float64
dtypes: float64(24), object(7)
memory usage: 496.1+ KB

## Nama Atribut

In [8]:
nomor = 1
for i in dictionary['Nama_Atribut']:
    print(f"{nomor}.{i}")
    nomor +=1

1.file
2.year
3.manufacturer
4.model
5.description
6.euro_standard
7.tax_band
8.transmission
9.transmission_type
10.engine_capacity
11.fuel_type
12.urban_metric
13.extra_urban_metric
14.combined_metric
15.urban_imperial
16.extra_urban_imperial
17.combined_imperial
18.noise_level
19.co2
20.thc_emissions
21.co_emissions
22.nox_emissions
23.thc_nox_emissions
24.particulates_emissions
25.fuel_cost_12000_miles
26.fuel_cost_6000_miles
27.standard_12_months
28.standard_6_months
29.first_year_12_months
30.first_year_6_months
31.date_of_change

## Jumlah Atribut

In [32]:
nomor = 1
for i in dictionary["Atribut_Objek"]:
    print(f"{nomor}.{i}")
    nomor +=1
jumlah = dictionary["Atribut_Objek"]
print("")
print("Jumlah Atribut: ",len(jumlah))

1.file
2.manufacturer
3.model
4.description
5.transmission
6.transmission_type
7.fuel_type

Jumlah Atribut:  7

## Jumlah Atribut Tipe Angka

In [22]:
nomor = 1
for i in dictionary["Atribut_Angkah"]:
    print(f"{nomor}.{i}")
    nomor +=1;
jumlah_angka = dictionary["Atribut_Angkah"]
print('')
print("Jumlah AtribUt Bertipe Angka: ", len(jumlah_angka))

1.year
2.euro_standard
3.tax_band
4.engine_capacity
5.urban_metric
6.extra_urban_metric
7.combined_metric
8.urban_imperial
9.extra_urban_imperial
10.combined_imperial
11.noise_level
12.co2
13.thc_emissions
14.co_emissions
15.nox_emissions
16.thc_nox_emissions
17.particulates_emissions
18.fuel_cost_12000_miles
19.fuel_cost_6000_miles
20.standard_12_months
21.standard_6_months
22.first_year_12_months
23.first_year_6_months
24.date_of_change

Jumlah AtribUt Bertipe Angka:  24

## Jumlah Atribut Yang Memiliki Nilai Null

In [31]:
no = 1
for i in dictionary["Atribut_Null"]:
    print(f"{no}.{i}")
    no +=1
jumlah_null = dictionary["Atribut_Null"]
print("")
print("Jumlah Atribut Null:", len(jumlah_null) )

1.year
2.manufacturer
3.model
4.description
5.euro_standard
6.tax_band
7.transmission
8.transmission_type
9.engine_capacity
10.fuel_type
11.urban_metric
12.extra_urban_metric
13.combined_metric
14.urban_imperial
15.extra_urban_imperial
16.combined_imperial
17.noise_level
18.co2
19.thc_emissions
20.co_emissions
21.nox_emissions
22.thc_nox_emissions
23.particulates_emissions
24.fuel_cost_12000_miles
25.fuel_cost_6000_miles
26.standard_12_months
27.standard_6_months
28.first_year_12_months
29.first_year_6_months
30.date_of_change

Jumlah Atribut Null: 30

## Rata-rata standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [26]:
df.describe()

,year,euro_standard,tax_band,engine_capacity,urban_metric,extra_urban_metric,combined_metric,urban_imperial,extra_urban_imperial,combined_imperial,...,nox_emissions,thc_nox_emissions,particulates_emissions,fuel_cost_12000_miles,fuel_cost_6000_miles,standard_12_months,standard_6_months,first_year_12_months,first_year_6_months,date_of_change
count,1813.000000,1813.000000,0.0,1813.000000,1813.000000,1813.000000,1813.000000,1813.000000,1813.000000,1813.000000,...,700.000000,0.0,375.000000,0.0,1813.000000,0.0,0.0,0.0,0.0,0.0
mean,2000.141754,2.428571,NaN,2244.804744,12.465858,7.015334,9.012576,24.946663,42.694319,33.782405,...,133.304286,NaN,0.068595,NaN,678.341975,NaN,NaN,NaN,NaN,NaN
std,0.348894,0.575435,NaN,947.584173,4.317879,1.822025,2.702661,7.656598,10.276299,9.143257,...,172.325383,NaN,0.126122,NaN,201.902365,NaN,NaN,NaN,NaN,NaN
min,2000.000000,2.000000,NaN,599.000000,3.800000,3.000000,3.400000,6.800000,16.300000,11.000000,...,4.000000,NaN,0.001000,NaN,256.000000,NaN,NaN,NaN,NaN,NaN
25%,2000.000000,2.000000,NaN,1753.000000,9.700000,5.900000,7.300000,20.200000,36.700000,28.200000,...,31.000000,NaN,0.034000,NaN,550.000000,NaN,NaN,NaN,NaN,NaN
50%,2000.000000,2.000000,NaN,1988.000000,11.800000,6.900000,8.700000,23.900000,40.900000,32.500000,...,57.000000,NaN,0.047000,NaN,655.000000,NaN,NaN,NaN,NaN,NaN
75%,2000.000000,3.000000,NaN,2494.000000,14.000000,7.700000,10.000000,29.100000,47.900000,38.700000,...,103.000000,NaN,0.070000,NaN,752.000000,NaN,NaN,NaN,NaN,NaN
max,2001.000000,4.000000,NaN,7990.000000,41.200000,17.300000,25.400000,74.300000,94.200000,83.100000,...,1013.000000,NaN,1.200000,NaN,1934.000000,NaN,NaN,NaN,NaN,NaN

## Nilai Kolerasi bertipe angka

In [27]:
df.corr()

,year,euro_standard,tax_band,engine_capacity,urban_metric,extra_urban_metric,combined_metric,urban_imperial,extra_urban_imperial,combined_imperial,...,nox_emissions,thc_nox_emissions,particulates_emissions,fuel_cost_12000_miles,fuel_cost_6000_miles,standard_12_months,standard_6_months,first_year_12_months,first_year_6_months,date_of_change
year,1.000000,0.395443,NaN,0.174691,0.128684,0.094853,0.116743,-0.148744,-0.112218,-0.133795,...,-0.011901,NaN,-0.106995,NaN,0.073535,NaN,NaN,NaN,NaN,NaN
euro_standard,0.395443,1.000000,NaN,0.015127,-0.032733,-0.058171,-0.043282,0.009563,0.043361,0.025245,...,-0.201487,NaN,-0.206973,NaN,-0.063099,NaN,NaN,NaN,NaN,NaN
tax_band,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine_capacity,0.174691,0.015127,NaN,1.000000,0.814106,0.772584,0.807795,-0.651116,-0.639205,-0.655608,...,-0.033813,NaN,0.125537,NaN,0.809288,NaN,NaN,NaN,NaN,NaN
urban_metric,0.128684,-0.032733,NaN,0.814106,1.000000,0.944114,0.989783,-0.866550,-0.844768,-0.870390,...,-0.413158,NaN,0.181314,NaN,0.986102,NaN,NaN,NaN,NaN,NaN
extra_urban_metric,0.094853,-0.058171,NaN,0.772584,0.944114,1.000000,0.980885,-0.856033,-0.919106,-0.897266,...,-0.359292,NaN,0.216710,NaN,0.978135,NaN,NaN,NaN,NaN,NaN
combined_metric,0.116743,-0.043282,NaN,0.807795,0.989783,0.980885,1.000000,-0.873880,-0.888038,-0.894177,...,-0.395981,NaN,0.202374,NaN,0.996477,NaN,NaN,NaN,NaN,NaN
urban_imperial,-0.148744,0.009563,NaN,-0.651116,-0.866550,-0.856033,-0.873880,1.000000,0.949053,0.988528,...,0.501049,NaN,-0.165148,NaN,-0.863120,NaN,NaN,NaN,NaN,NaN
extra_urban_imperial,-0.112218,0.043361,NaN,-0.639205,-0.844768,-0.919106,-0.888038,0.949053,1.000000,0.984236,...,0.452797,NaN,-0.213095,NaN,-0.880781,NaN,NaN,NaN,NaN,NaN
combined_imperial,-0.133795,0.025245,NaN,-0.655608,-0.870390,-0.897266,-0.894177,0.988528,0.984236,1.000000,...,0.482292,NaN,-0.191394,NaN,-0.885644,NaN,NaN,NaN,NaN,NaN
noise_level,0.124439,0.018410,NaN,0.258991,0.173478,0.166302,0.173563,-0.127963,-0.122790,-0.128746,...,0.124359,NaN,0.117138,NaN,0.176263,NaN,NaN,NaN,NaN,NaN
co2,0.122513,-0.050099,NaN,0.835911,0.976797,0.975616,0.989827,-0.852442,-0.872942,-0.875186,...,-0.281829,NaN,0.206878,NaN,0.989979,NaN,NaN,NaN,NaN,NaN
thc_emissions,-0.044810,-0.290932,NaN,0.110865,0.200254,0.197791,0.199820,-0.168650,-0.183620,-0.175764,...,-0.040513,NaN,-0.085524,NaN,0.193131,NaN,NaN,NaN,NaN,NaN
co_emissions,0.006385,-0.055330,NaN,-0.026714,0.183464,0.214795,0.199434,-0.213968,-0.243330,-0.230272,...,-0.417373,NaN,0.389364,NaN,0.188291,NaN,NaN,NaN,NaN,NaN
nox_emissions,-0.011901,-0.201487,NaN,-0.033813,-0.413158,-0.359292,-0.395981,0.501049,0.452797,0.482292,...,1.000000,NaN,0.733190,NaN,-0.366530,NaN,NaN,NaN,NaN,NaN
thc_nox_emissions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
particulates_emissions,-0.106995,-0.206973,NaN,0.125537,0.181314,0.216710,0.202374,-0.165148,-0.213095,-0.191394,...,0.733190,NaN,1.000000,NaN,0.207105,NaN,NaN,NaN,NaN,NaN
fuel_cost_12000_miles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuel_cost_6000_miles,0.073535,-0.063099,NaN,0.809288,0.986102,0.978135,0.996477,-0.863120,-0.880781,-0.885644,...,-0.366530,NaN,0.207105,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
standard_12_months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
standard_6_months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first_year_12_months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first_year_6_months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_of_change,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merubah Nilai

### Sebelum

In [29]:
df.dtypes

file                       object
year                      float64
manufacturer               object
model                      object
description                object
euro_standard             float64
tax_band                  float64
transmission               object
transmission_type          object
engine_capacity           float64
fuel_type                  object
urban_metric              float64
extra_urban_metric        float64
combined_metric           float64
urban_imperial            float64
extra_urban_imperial      float64
combined_imperial         float64
noise_level               float64
co2                       float64
thc_emissions             float64
co_emissions              float64
nox_emissions             float64
thc_nox_emissions         float64
particulates_emissions    float64
fuel_cost_12000_miles     float64
fuel_cost_6000_miles      float64
standard_12_months        float64
standard_6_months         float64
first_year_12_months      float64
first_year_6_months       float64
date_of_change            float64
dtype: object

In [ ]:
# df["euro_standard"] = pd.to_numeric(df["euro_standard"],downcast="float64")
df["euro_standard"] = df["euro_standard"].astype("object")

### Sesudah, dikarenakan tipe int tidak bisa di ubah di semua atribut maka saya pake object

In [82]:
df.dtypes

file                       object
year                      float64
manufacturer               object
model                      object
description                object
euro_standard              object
tax_band                  float64
transmission               object
transmission_type          object
engine_capacity           float64
fuel_type                  object
urban_metric              float64
extra_urban_metric        float64
combined_metric           float64
urban_imperial            float64
extra_urban_imperial      float64
combined_imperial         float64
noise_level               float64
co2                       float64
thc_emissions              object
co_emissions              float64
nox_emissions             float64
thc_nox_emissions         float64
particulates_emissions    float64
fuel_cost_12000_miles     float64
fuel_cost_6000_miles      float64
standard_12_months        float64
standard_6_months         float64
first_year_12_months      float64
first_year_6_months       float64
date_of_change            float64
dtype: object

## Menampilkan 10 record pertama bertipe angka

In [30]:
df.select_dtypes(exclude=object).head(10)

,year,euro_standard,tax_band,engine_capacity,urban_metric,extra_urban_metric,combined_metric,urban_imperial,extra_urban_imperial,combined_imperial,...,nox_emissions,thc_nox_emissions,particulates_emissions,fuel_cost_12000_miles,fuel_cost_6000_miles,standard_12_months,standard_6_months,first_year_12_months,first_year_6_months,date_of_change
0,2000.0,2.0,NaN,1598.0,11.1,6.5,8.2,25.4,43.5,34.4,...,NaN,NaN,NaN,NaN,618.0,NaN,NaN,NaN,NaN,NaN
1,2000.0,2.0,NaN,1747.0,11.5,6.6,8.4,24.6,42.8,33.6,...,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN,NaN
2,2000.0,2.0,NaN,1970.0,12.4,6.6,8.8,22.8,42.8,32.1,...,NaN,NaN,NaN,NaN,663.0,NaN,NaN,NaN,NaN,NaN
3,2000.0,2.0,NaN,1598.0,11.3,6.6,8.3,25.0,42.8,34.0,...,NaN,NaN,NaN,NaN,626.0,NaN,NaN,NaN,NaN,NaN
4,2000.0,2.0,NaN,1747.0,11.5,6.6,8.4,24.6,42.8,33.6,...,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN,NaN
5,2000.0,2.0,NaN,1970.0,12.4,6.6,8.8,22.8,42.8,32.1,...,NaN,NaN,NaN,NaN,663.0,NaN,NaN,NaN,NaN,NaN
6,2000.0,2.0,NaN,1598.0,11.4,6.4,8.2,24.8,44.1,34.4,...,NaN,NaN,NaN,NaN,618.0,NaN,NaN,NaN,NaN,NaN
7,2000.0,2.0,NaN,1747.0,11.4,6.4,8.2,24.8,44.1,34.4,...,NaN,NaN,NaN,NaN,618.0,NaN,NaN,NaN,NaN,NaN
8,2000.0,2.0,NaN,1970.0,11.7,6.6,8.5,24.1,42.8,33.2,...,NaN,NaN,NaN,NaN,641.0,NaN,NaN,NaN,NaN,NaN
9,2000.0,2.0,NaN,1970.0,11.7,6.6,8.5,24.1,42.8,33.2,...,NaN,NaN,NaN,NaN,641.0,NaN,NaN,NaN,NaN,NaN

## Menyimpan dataset dengan bertipe angka

In [84]:
df.select_dtypes(exclude = object).to_csv("Atribut_Angkah.csv")